button {
    border-radius: 0px;
    background: #AAAAAA;
    border-width: 2px;
    border-top-color: white;
    border-left-color: white;
    border-right-color: black;
    border-bottom-color: black;
    padding: 0;
    transition: 0;
    text-shadow: none;
    font-weight: bold;
}

button:disabled {
    background-image: url("background-disabled.png");
}