@font-face {
  font-family: 'topaz';
  src: url('../topaz_a1200_v1.0-webfont.woff2') format('woff2'),
    url('../topaz_a1200_v1.0-webfont.woff') format('woff');
}

body {
  background-color: rgb(170, 170, 170);
  color: black;
  line-height: 150%;
  cursor: url('../cursor_select.cur'), auto;
}

.u {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: black;
  border-top: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid white;
  padding-left: 2px;
  padding-right: 2px;
  cursor: url('../cursor_select.cur'), auto;
}

a:visited,
a:focus {
  background-color: #5078A0;
}

.fg-back {
  color: rgb(170, 170, 170);
}

.fg-background {
  color: rgb(170, 170, 170);
}

.fg-highlight {
  color: white;
}

.fg-fill {
  color: #5078A0;
}

.fg-filltext {
  color: black;
}

.fg-shadow {
  color: black;
}

.fg-shine {
  color: white;
}

.fg-text {
  color: black;
}

.bg-back {
  background-color: rgb(170, 170, 170);
}

.bg-background {
  background-color: rgb(170, 170, 170);
}

.bg-highlight {
  background-color: white;
}

.bg-fill {
  background-color: #5078A0;
}

.bg-filltext {
  background-color: black;
}

.bg-shadow {
  background-color: black;
}

.bg-shine {
  background-color: white;
}

.bg-text {
  background-color: black;
}

p.node {}

b {}