@font-face {
  font-family: 'topaz';
  src: url('topaz_a1200_v1.0-webfont.woff2') format('woff2'),
    url('topaz_a1200_v1.0-webfont.woff') format('woff');
}

body {
  /*font-family: 'topaz';*/
  background-color: rgb(170, 170, 170);
  color: black;
  line-height: 135%;
  cursor: url('../cursor_select.cur'), auto;
}

.u {
  text-decoration: underline;
}

button {
  text-decoration: none;
  background-color: rgb(170, 170, 170);
  color: black;
  border-top: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid white;
  padding-left: 2px;
  padding-right: 2px;
}

button:visited,
button:focus {
  background-color: #5078A0;
}

button:active {
  border-top: 2px solid black;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid black;
}

.highlight {
  background-color: #5078A0;
}

.fg-back {
  color: rgb(170, 170, 170);
}

.fg-background {
  color: rgb(170, 170, 170);
}

.fg-highlight {
  color: white;
}

.fg-fill {
  color: #5078A0;
}

.fg-filltext {
  color: black;
}

.fg-shadow {
  color: black;
}

.fg-shine {
  color: white;
}

.fg-text {
  color: black;
}

.bg-back {
  background-color: rgb(170, 170, 170);
}

.bg-background {
  background-color: rgb(170, 170, 170);
}

.bg-highlight {
  background-color: white;
}

.bg-fill {
  background-color: #5078A0;
}

.bg-filltext {
  background-color: black;
}

.bg-shadow {
  background-color: black;
}

.bg-shine {
  background-color: white;
}

.bg-text {
  background-color: black;
}

p.node {}

b {}

/* body::-webkit-scrollbar {
  background-color: #6688BB;
  border-right: 2px solid black;
  border-left: 2px solid white;
  width: 50px;
}

body::-webkit-scrollbar-button {
  border-top: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid white;
}

body::-webkit-scrollbar-thumb {
  border-top: 2px solid white;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid white;
  width: 5px;
} */